<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.androider.util">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <service
            android:name="top.androider.util.MessengerUtils$ServerService"
            android:exported="false">
            <intent-filter>
                <action android:name="${applicationId}.messenger" />
            </intent-filter>
        </service>
    </application>
</manifest>